.App {
  padding: 40px;
}

.btn-reset {
  display: none;
}

.active {
  display: inline-block;
}

li span, li button, input, form button {
  margin-right: 5px;
}

button {
  cursor: pointer;
}

input {
  margin-bottom: 10px;
}